[package]
name = "socks5"
version = "0.1.0"
edition.workspace = true
license.workspace = true

[dependencies]
bytes.workspace = true
common = { path = "../common" }
tokio.workspace = true
tracing.workspace = true
